<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <authentication mode="Windows">
            <forms cookieless="UseDeviceProfile" />
        </authentication>
	<identity impersonate="false" />
	<roleManager enabled="true"
   		defaultProvider="AspNetWindowsTokenRoleProvider"/>
	
    </system.web>
</configuration>
